:root {
    --header-bg-color: rgb(9, 192, 248);
    --header-text-color: #000;
    --button-bg-color: blue;
    --button-text-color: #fff;
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sketchbook__header{
    width: 100%;
    padding: 20px 10px;
    background-color: var(--header-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    .sketchbook__logo{
        font-size: 36px;
        font-weight: 700;
        margin: 0 20px;
    }
    .pickers__text{
        font-size: 20px;
    }
    .sketchbook__picker{
        size: 30px;
        font-size: 20px;
        margin: 0 10px;
    }
}

