:root {
    --header-bg-color: rgb(9, 192, 248);
    --header-text-color: #000;
    --button-bg-color: rgb(9, 9, 245);
    --button-text-color: #fff;
    $button-bg-color : var(--button-bg-color);
}


*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sketchbook__header{
    width: 100%;
    padding: 10px;
    background-color: var(--header-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    .sketchbook__pickers{
        display: flex;
        align-items: center;
    }
        .sketchbook__logo{
            font-size: 36px;
            font-weight: 700;
            margin: 0 20px;
        }
        .pickers__text{
            font-size: 20px;
        }
        .sketchbook__picker{
            height: 20px;
            width: 100px;
            border: none;
            font-size: 16px;
            margin: 0 10px;
        }
    .sketchbook__buttons{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        .sketchbook__button{
            font-size: 18px;
            font-weight: 500;
            margin: 0 10px;
            height: 30px;
            width: 100px;
            border: none;
            background-color: var(--button-bg-color);
            color: var(--button-text-color);
            &:hover{
                cursor: pointer;
                background-color: red;
                background-color: darken($button-bg-color, 20%);
            }
        }
    }
}

